<style>
  .af:link {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
  .af:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  .af:hover {
    color: orang;
    background-color: transparent;
    text-decoration: underline;
  }
  .af:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
  
  <nav class="fixed-bottom" style="background-color: #e3f2fd; color: black; height: 25px;">
    <div class="container-fluid-nav text-center">
       Copyright © <a href="https://github.com/Yoas1" class="af">Yoas1</a> - All Rights Reserved
     </div>
     </nav>
